.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  background-color: #dcbfff;
  padding: 10px;
}

.grid-item {
  background-color: #f1eaff;
  font-size: 1rem;
  padding: 1rem;
}

.peoples {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.peoples > img {
  min-width: 1rem;
  max-width: 8rem;
  height: auto;
}

#purple {
  background-color: #7743db;
}

.extra {
  color: white;
  background: #2b3499;
  height: 50px;
}
