* {
  font-family: "Courier New", Courier, monospace;
}

html {
  width: 100vw;
}

.alltogether {
  width: 100%;
  min-height: 10rem;
  display: flex;
  flex-wrap: wrap;
}
.alltogether > div {
  /* flex: 1 1 150px; */
  background-color: cornflowerblue;
  border-style: solid;
  border-color: black;
  padding: 1rem;
}

.navbar {
  padding: 0.5rem;
  font-weight: 600;
}

.navbar a {
  background-color: rgb(241, 218, 150);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem 1rem;
  color: cornflowerblue;
}
.container {
  background-color: rgb(219, 184, 252);
  padding: 1rem;
}

.wrapper > .small {
  background-color: beige;
}

.wrapper > .smallsmall {
  color: white;
  background-color: palevioletred;
  border: 0;
}
