.wrapper {
  width: 100%;
  min-height: 10rem;
  display: flex;
  flex-wrap: wrap;
}
.wrapper > div {
  flex: 1 1 150px;
  background-color: cornflowerblue;
  border-style: solid;
  border-color: black;
  padding: 1rem;
}

.navbar {
  background-color: ;
}
